       

		<!-- content 
			================================================== -->
		<div id="content">

			<!-- Page Banner -->
			<div class="page-banner">
				<div class="container">
					<h2>Ubicación</h2>

				</div>
			</div>


			<!-- contact box -->
			<div class="contact-box">
				<div class="container">
					<div class="row">


	

						<div class="col-md-6" align="center">
							<h3>Toyota FAME Perisur</h3>
<span class="single-project-content">
                    <img alt="Toyota Fame Perisur" src="images/fachada-perisur.jpg"></span> 
                    
                    <li><span><i class="fa fa-home"></i></span>Anillo Perif. 4000 Bis, <span>Col. Jardines del Pedregal </span> <span><br> Del. Álvaro Obregón, México D.F.</span><span> C.P. 01900</span> </li>                      
						</div>

			<!-- Map box -->
            <div class="col-md-6" align="center">
            <h3>Ubicación</h3><br>
			<div class="">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1119.4591533844675!2d-99.21433525960029!3d19.308582412688025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cdffbf04b1453f%3A0x4be68c599a185ef7!2sFAME+-+Toyota+Perisur!5e0!3m2!1ses!2smx!4v1530023763964" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
            </div>

					</div>
				</div>
			</div>

		</div><br>


		<!-- End content -->

