<!-- Page Banner -->
			<div class="page-banner">         

				<div class="container">
					<h2><strong>Toyota® <strong>Yaris R 2016</strong></strong></h2>
				</div>
			</div>
                     

			<div class="about-box">
				<div class="container">
					<div class="row">
				</div>
			</div>



<!--barra información limpia-->
			<div class="single-project-page">
				<div class="container">
					<div class="row">

					<div class="container">
							<div class="single-project-content">
								<img alt="" src="yarisr/fotos/yaris-r.jpg">
                                
                               <div class="col-md-4">
								<div class="services-post">
									<a class="services-icon2" href="../fichas/yaris-r-2016.pdf" target="_blank"><i class="fa fa-download"></i></a>
									<div class="services-post-content">
										<h4>+Información</h4>
										<p>Conoce más sobre el Yaris R 2016,<br>
descarga su <strong><a href="../fichas/yaris-r.pdf" target="_blank">ficha técnica</a></strong></p>
									</div>
								</div>
							</div>
                                <h3><strong>Yaris R 2016, </strong>Totalmente Sorprendente</h3>
                                <p align="justify">El nuevo vehículo sedán <strong>Yaris R</strong> sorprende por su gran estética que refleja una apariencia joven, atrevida y provocadora. Su equipamiento superior, conectividad y manejo deportivo hacen que conducirlo sea fácil y divertido.</p>                            
                            
                         	</div>
</div>

<div class="container">
                         <div class="col-md-6" >
								<img alt="" src="yarisr/fotos/volante-yaris-r-016.jpg">  
                         </div>

                         <div class="col-md-6">
                         <br><br><br><br><br><br><h4>Diseño <strong>Innovador</strong></h4><br><br>
                         <p align="justify">
- Yaris R es un auto para los amantes del diseño. Su línea interior y exterior es deportiva, apasionante y única en el segmento. Parrilla prominente, faros multireflectores y rines de aluminio.
                         </p><br><br>
                         </div>                          
</div>     

<div class="container">
                         <div class="col-md-6">
                         <br><br><br><br><br><br><br><br><br><br><h4>Interiores <strong>de lujo</strong></h4><br><br>
                         <p align="justify">
- Ambiente atractivo y sofisticado con apariencia deportiva, vestiduras con combinación de tonos y gran espacio interior para más comodidad.
                         </p><br><br>
                         </div>    
                         
                         <div class="col-md-6" >
								<img alt="" src="yarisr/fotos/interiores-yaris-r-2016.jpg">  
                         </div>                                               

</div> 
                    
</div>                           
                                
<div class="container">                                 
                         <div class="col-md-6">
								<img alt="" src="yarisr/fotos/equipo-yaris-r-2016.jpg">  
                         </div>                                  
                                                  
                         <div class="col-md-6">
                         <br><br><br><br><br><br><br><br><br><h4>Equipamiento <strong>único</strong></h4><br><br>
                         <p align="justify">
- Disfruta el más completo sistema de audio y entretenimiento: <br><br>
Conectividad Bluetooth, comandos por voz y manos libres, commander control, sistema de navegación, centro de mensajes e interactividad, audio AM/FM, CD-MP3, USB y Mini-Jack.
                         </p><br><br>
                         </div>                            
</div>     

<div class="container">
                         <div class="col-md-6">
                         <br><br><br><br><br><br><br><br><br><br><h4>Manejo<strong> Inigualable</strong></h4><br><br>
                         <p align="justify">
- <strong>Yaris R</strong> cuenta con una combinación perfecta de un manejo deportivo y cómodo poco común en su segmento. El dominio del volante es total, responde a las curvas del camino de forma ágil y divertida con excelente estabilidad a cualquier velocidad.
                         </p><br><br>
                         </div>    
                         
                         <div class="col-md-6" >
								<img alt="" src="yarisr/fotos/manejo-yaris-r-2016.jpg">  
                         </div>                                               

</div>      

<div class="container">
                         <div class="col-md-12" >
								<br><br><img alt="" src="yarisr/fotos/pantalla-yaris-r-2016.jpg">  
                         </div> 
                         
                         <div class="col-md-12">
                         <p align="justify"><br><br>
Sorpréndete con nuestra pantalla de 7 pulgadas (en la versión XLE), que te ayudará a mantenerte conectado vía Bluetooth con tu Smartphone y diferentes dispositivos para que siempre estés comunicado y lleno de entretenimiento.
                         </p><br><br>
                         </div>   
  
</div>      

<div class="container">
						<h2>Versiones <strong>Yaris R 2106</strong></h2>
                         <div class="col-md-4" >
								<br><br><img alt="" src="yarisr/fotos/yaris-r-le-mt.jpg">  
                         </div>                         
                         
                         <div class="col-md-4">
                         <br><br><h4><strong>Yaris R</strong> LE MT</h4>
                         <p align="justify"><br><br>
- Interior elegante, deportivo, estético y perfecto<br>
- <em><strong>Toyota Connect:</strong></em> deja que tu radio lea las notificaciones de tu Facebook<br>
- Smart Key<br>
- Manejo deportivo, sensación de control total<br>
                         </p><br><br>
                         </div>   
</div>                          
                         
<div class="container">                         
                         <div class="col-md-4" >
								<br><br><img alt="" src="yarisr/fotos/yaris-r-le-at.jpg">  
                         </div>                          
                         
                         <div class="col-md-4">
                         <br><br><h4><strong>Yaris R</strong> LE AT</h4>
                         <p align="justify"><br><br>
- Interior elegante, deportivo, estético y perfecto<br>
- <em><strong>Toyota Connect:</strong></em> deja que tu radio lea las notificaciones de tu Facebook<br>
- Smart Key<br>
- Manejo deportivo, sensación de control total<br>
                         </p><br><br>
                         </div>                          
</div>   

<div class="container">                         
                         <div class="col-md-4" >
								<br><br><img alt="" src="yarisr/fotos/yaris-r-xle.jpg">  
                         </div>                          
                         
                         <div class="col-md-4">
                         <br><br><h4><strong>Yaris R</strong> XLE</h4>
                         <p align="justify"><br><br>
- Interior elegante, deportivo, estético y perfecto<br>
- Pantalla en el tablero de 7 pulgadas<br>
- <em><strong>Toyota Connect:</strong></em> deja que tu radio lea las notificaciones de tu Facebook<br>
- Smart Key<br>
- Manejo deportivo, volante forrado en puel para mayor lujo y confort<br>
                         </p><br><br>
                         </div>                          
</div> 

				</div>
			</div>
		</div>


		<!-- End content -->
 
 				<!-- CITAS -->
				<div class="services-box">
					<div class="container">
						<div class="row">
							<div class="col-md-4" >
								<div class="services-post">
									<a class="services-icon1" href="../cotizador.php" target="_self"><i class="fa fa-money"></i></a>
									<div class="services-post-content">
										<h4><strong><a href="../contacto.php" target="_self">Cotízalo</a></strong></h4>
										<p>Solicita una cotización, en breve un asesor calificado te brindará atención personalizada, para que seleccionesla versión de tu preferencia, la forma de pago y el plazo del financiamiento.</p>
									</div>
								</div>
							</div>
                            
							<div class="col-md-4" >
								<div class="services-post">
									<a class="services-icon1" href="../promociones.html" target="_self"><i class="fa fa-info-circle"></i></a>
									<div class="services-post-content">
										<h4><strong><a href="../promociones.php" target="_self">Promociones</a></strong></h4>
										<p>Entra para conocer las promociones vigentes en toda la gama de vehículos Toyota, te sorprenderás con las ofertas que preparamos para tí.</p>
									</div>
								</div>
							</div>                              
                            
							<div class="col-md-4" >
								<div class="services-post">
									<a class="services-icon1" href="../manejo.php" target="_self"><i class="fa fa-check-circle"></i></a>
									<div class="services-post-content">
										<h4><strong><a href="../contacto.php" target="_self">Pruébalo </a></strong></h4>
										<p>Entra a éste enlace para agendar tu cita de manejo, te recordamos que las citas de manejo y servicio están sujetas a los horarios laborales de nuestra agencia.</p>
									</div>
								</div>
							</div>                            
                            
						</div>
					</div>
					<img class="shadow-image" alt="" src="images/shadow.png">
				</div>
                